body #center #game_board{
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-right: 25px;
    padding-left: 25px;
    border: 2px solid #b5b7ba;
    background: url(../img/bg_txt/black_bg_80.png);
    min-width: 430px;
}

body #center #game_board #game_set{
    color: honeydew;
    width: 100%;
    min-height: 400px;
}

body #center #game_board #game_set #CenterButton{
    text-align: center;
}

body #center #game_board #game_set #CenterButton #HelpButton{
    color: firebrick;
    min-height: 120px;
    min-width: 200px;
    margin-top: 80px;
    background: aliceblue;
    border-radius: 12px;
    font-size: 47px;
}

body #center #game_board #game_set #CenterButton #StartButton{
    color: darkgreen;
    min-height: 120px;
    min-width: 200px;
    margin-top: 80px;
    background: gainsboro;
    border-radius: 12px;
    font-size: 47px;
}

body #center #game_board #game_set #Name{
    margin-top: 50px;
    color: honeydew;
    min-height: 50px;
    font-size: 25px;
    background: none;
}

body #center #game_board #game_set #NameStart{
    margin-top: 50px;
    margin-left: 20px;
    color: honeydew;
    min-height: 50px;
    font-size: 25px;
    background: none;
}

body #center #game_board #game_set #Me{
    text-align: center;
}

body #center #game_board #game_set #Me button{
    margin-top: 50px;
    margin-left: 20px;
    color: honeydew;
    min-height: 50px;
    font-size: 25px;
    background: none;
    text-align: center;
}

body #center #game_board #game_set #img{
    text-align: center;
}

body #center #game_board #game_set #img img{
    width: 150px;
    height: 225px;
    border: 2px solid #b5b7ba;
}

body #center #game_board #game_set #bord_point{
    color: darkgreen;
    font-size: 27px;
    text-align: center;
}

body #center #game_board #game_set #text_box{
    text-align: center;
    font-size: 47px;
}

