#container-outer {
  float:left;
  overflow: hidden;
  background: #eee;
}
#container-inner {
  float:left;
  background: #555;
  position: relative;
  right:75%;
}
#sidebar {
  float: left;
  width: 25%;
  position: relative;
  left: 75%;
}
#content {
  float: left;
  width: 75%;
  position: relative;
  left: 75%;
}
#container-inner {
  position: relative;
  right: 75%;
}
